@media screen and (min-width:479px) {
    #model-conteiner{
      margin-top: 11vh;
    }
}
#model-conteiner {
    width: 800px;
    height: inherit;
    margin: auto;
    margin-top: 8vh;
}

#model-earth {
    width: inherit;
    height: inherit;
}

#model-earth {
    filter:
        hue-rotate(45deg)
        drop-shadow(2px 4px 6px black) 
        drop-shadow(2px 4px 6px rgb(53, 51, 216))
        drop-shadow(0px 0px 250px blue);
}

@media screen and (min-width:479px) {
    #model-conteiner{
      margin-top: 11vh;
    }
}